.movie_wrapper {
  width: 281.95px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;


  .movie_info {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom right, hsla(210, 100%, 96%, 0.3) 25%, hsla(215, 15%, 97%, 0.2) 100%);
    box-shadow: hsl(200, 0%, 100%) 0 2px 0 inset, hsla(215, 15%, 92%, 0.3) 0 -2px 0 inset, hsla(215, 15%, 89%, 0.5) 0 1px 2px 0;
    border: 1px solid hsl(215, 15%, 92%);
    border-radius: 5px;

    .movie_info_title {
      height: 40px;
      font-size: 1rem;
      text-align: center;


      .link {
        text-decoration: none;
        color: black;
        word-wrap: break-word;
        font-weight: bold;
      }
    }

  }
}



