body{
    background: gray;
}

.app-wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 98vh
}

.app-wrapper-content{
    background: yellow;
    flex-grow: 3
}
