body {
    overflow: auto;
    -ms-overflow-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image:  url("./assets/image/bacgroundsPage.png") ;*/
    background-image:  url("./assets/image/bg_test.png") ;
    background-attachment: fixed;
    margin: 0;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.app-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.app-wrapper-content {
    flex-grow: 3;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #808080;
}